# import

In [71]:
from sqlalchemy.schema import CreateSchema
from sqlalchemy import create_engine
from dotenv import load_dotenv
from datetime import datetime as dt
import missingno as mno
import pandas as pd
import numpy as np
import cryptocode
import os

In [94]:
%load_ext dotenv
%dotenv

In [3]:
df = pd.read_csv('data/ecommerce.csv', delimiter=",")

In [4]:
def info(df):
    print('info')
    print(df.info())
    print('------------')
    print('describe')
    print(df.describe())
    print('------------')
    print('nunique')
    print(df.nunique())
    print('------------------------------------------------')
    print('preview uniques')
    for i in df:
        uni =df[i].unique()
        print(i)
        print(uni)
#     print('------------------------------------------------')
#     print('max')
#     print(df.max())
#     print('------------------------------------------------')
#     print('min')
#     print(df.min())

In [5]:
def nan_exterminator_tavu(df):
    print(df.isna().sum())
    print('------------')
    print(df[df.isna().any(axis=1)])
    print('------------')
    mno.matrix(df, figsize= (20, 6))

In [6]:
def crypte(data, columns, mdp):
    
    for i in columns:
        crypte = []
        
        for u in data[i]:
            crypte.append(cryptocode.encrypt(str(u), "mdp"))
            
        data[i] = crypte
    
    return data

# ETL

## initial cleaning

In [7]:
df.head()

,Date,ProductName,ProductCategory,ProductSubCategory,ProductPrice,CustomerName,CustomerEmail,CustomerAddress,CustomerPhone,CustomerSegment,...,SupplierContact,ShipperName,ShippingMethod,QuantitySold,TotalAmount,DiscountAmount,NetAmount,StockReceived,StockSold,StockOnHand
0,2023-09-14,Nathaniel,Electronics,Camera,0.01,Colleen Kelly,maryhurst@example.org,"354 Mcdowell Turnpike, Port Charles, CT 95318",908.610.2711x8507,Silver,...,6538306661,and Sons,Ground,49,31965.15,121.07,31844.08,475,127,348
1,2023-02-11,NonExistentProduct,Electronics,Mobile,847.43,Joel Wright,sandersvictoria@example.org,"24740 Fox Villages, New Tracie, MA 53038",+1-408-938-0389x952,Gold,...,NaN,PLC,Air,73,61862.39,91.09,61771.30,487,243,244
2,2021-11-12,Angela,InvalidCategory,Action Figures,386.57,Thomas Sawyer,ospence@example.net,"769 Joe Trail, East Terri, CA 43813",001-929-516-1919x39288,Gold,...,+1-588-750-7646,PLC,Sea,89,34404.73,10.56,34394.17,341,188,153
3,11-15-2021,Amy,Home & Garden,Decor,364.01,Tyler Gardner,christopherjohnson@example.com,"27783 Olivia Centers, Williamsmouth, AL 09809",8907712983,Gold,...,805-650-6257x5876,LLC,Air,3,1092.03,69.06,1022.97,500,124,376
4,2023-04-22,Nathaniel,Electronics,Camera,652.35,Meagan Peterson,epowell@example.net,"25357 Blackwell Locks, Andreabury, MH 27857",9999921886,Gold,...,6538306661,Ltd,Sea,75,48926.25,137.17,48789.08,429,351,78

In [8]:
df['Date'] = df['Date'].apply(lambda x: pd.to_datetime(x))

In [9]:
df = df.drop_duplicates()

In [10]:
df = df.replace({'NonExistentProduct': None, 'InvalidCategory': None, 'InvalidPrice': None})

In [11]:
# df = crypte(df, ['CustomerEmail', 'CustomerPhone', 'SupplierContact'], "mdp")
# df.to_csv('data/df_crypted.csv', index=False)

In [12]:
df = pd.read_csv('data/df_crypted.csv', delimiter=",")

In [13]:
cryptocode.decrypt(df['CustomerPhone'][3], "mdp")

'8907712983'

In [14]:
df.head()

,Date,ProductName,ProductCategory,ProductSubCategory,ProductPrice,CustomerName,CustomerEmail,CustomerAddress,CustomerPhone,CustomerSegment,...,SupplierContact,ShipperName,ShippingMethod,QuantitySold,TotalAmount,DiscountAmount,NetAmount,StockReceived,StockSold,StockOnHand
0,2023-09-14,Nathaniel,Electronics,Camera,0.01,Colleen Kelly,BAHw0IHoVd5tjg5xeWxlW5GNEofb*QfsXczzIW4Oh8fAZg...,"354 Mcdowell Turnpike, Port Charles, CT 95318",vk5nsVB/kBINOy1K6JK69js=*BKcF9ZGcPPNLzLWCU6EDB...,Silver,...,Xx2iivybgdHxxA==*OenyR7lXcUFLGRVV6x5Bww==*2T4H...,and Sons,Ground,49,31965.15,121.07,31844.08,475,127,348
1,2023-02-11,NaN,Electronics,Mobile,847.43,Joel Wright,qGgefz9XZLRRpJlIMYCJlqpov9xbC/yr49bG*21kIgLKi0...,"24740 Fox Villages, New Tracie, MA 53038",RhaTg82mUgmAjlO1tBqXgcvbvw==*VMWRsUpW5C+zBkEq8...,Gold,...,n97N*ICxPTYaTJrN37vQNnOl/ng==*0fzzqJbPZO3tbg3K...,PLC,Air,73,61862.39,91.09,61771.30,487,243,244
2,2021-11-12,Angela,NaN,Action Figures,386.57,Thomas Sawyer,Uj+oqzRCId02ouN9VcpJVwUEbA==*39gh0z1R8gkddYwLd...,"769 Joe Trail, East Terri, CA 43813",tf7Z9QcDwi7NqJL73zTiFMuo6hKkHw==*O6LOhEBZ0X/GY...,Gold,...,0YkDQDdP0ENy1Fh6SC8O*yyjbGxuG2rC0c0bM8PKRjg==*...,PLC,Sea,89,34404.73,10.56,34394.17,341,188,153
3,2021-11-15,Amy,Home & Garden,Decor,364.01,Tyler Gardner,vEE+AAMOO0EXJ0XzEoDBSeVLK3GGM+LyhpziKtMw*DbrZN...,"27783 Olivia Centers, Williamsmouth, AL 09809",eHRTa5jDCZX2bA==*skl5WvikCdIihyytCXvAvw==*c7VV...,Gold,...,y+WCFL6qzxIlSwBUJfAM50A=*WdgeIzTK5COjHploavviT...,LLC,Air,3,1092.03,69.06,1022.97,500,124,376
4,2023-04-22,Nathaniel,Electronics,Camera,652.35,Meagan Peterson,KhSSUYUL7ef6wHOioAxp6foY6g==*c99v9nDe6rOb5gSXV...,"25357 Blackwell Locks, Andreabury, MH 27857",OHqoUstvW1QyRQ==*+Ilm+Mc/aXD/AU7xmwYhMg==*kE2Q...,Gold,...,IaPrkxSd3mkI5g==*g0aNadDFbeF9Nej/3h+p/Q==*1Yuv...,Ltd,Sea,75,48926.25,137.17,48789.08,429,351,78

## date

In [15]:
dateh = df[["Date"]]

In [16]:
dateh.head()

         Date
0  2023-09-14
1  2023-02-11
2  2021-11-12
3  2021-11-15
4  2023-04-22

## customers

In [17]:
customers = df[["CustomerName", "CustomerEmail", "CustomerAddress", "CustomerPhone", "CustomerSegment"]]

In [18]:
customers.head()

,CustomerName,CustomerEmail,CustomerAddress,CustomerPhone,CustomerSegment
0,Colleen Kelly,BAHw0IHoVd5tjg5xeWxlW5GNEofb*QfsXczzIW4Oh8fAZg...,"354 Mcdowell Turnpike, Port Charles, CT 95318",vk5nsVB/kBINOy1K6JK69js=*BKcF9ZGcPPNLzLWCU6EDB...,Silver
1,Joel Wright,qGgefz9XZLRRpJlIMYCJlqpov9xbC/yr49bG*21kIgLKi0...,"24740 Fox Villages, New Tracie, MA 53038",RhaTg82mUgmAjlO1tBqXgcvbvw==*VMWRsUpW5C+zBkEq8...,Gold
2,Thomas Sawyer,Uj+oqzRCId02ouN9VcpJVwUEbA==*39gh0z1R8gkddYwLd...,"769 Joe Trail, East Terri, CA 43813",tf7Z9QcDwi7NqJL73zTiFMuo6hKkHw==*O6LOhEBZ0X/GY...,Gold
3,Tyler Gardner,vEE+AAMOO0EXJ0XzEoDBSeVLK3GGM+LyhpziKtMw*DbrZN...,"27783 Olivia Centers, Williamsmouth, AL 09809",eHRTa5jDCZX2bA==*skl5WvikCdIihyytCXvAvw==*c7VV...,Gold
4,Meagan Peterson,KhSSUYUL7ef6wHOioAxp6foY6g==*c99v9nDe6rOb5gSXV...,"25357 Blackwell Locks, Andreabury, MH 27857",OHqoUstvW1QyRQ==*+Ilm+Mc/aXD/AU7xmwYhMg==*kE2Q...,Gold

## products

In [19]:
products = df[["ProductName", "ProductCategory", "ProductSubCategory", "ProductPrice"]]

In [20]:
products = products.drop_duplicates()

In [21]:
products = products.sort_values(by=["ProductName", "ProductCategory", "ProductSubCategory", "ProductPrice"])

In [22]:
products.fillna(method='ffill').head()

    ProductName ProductCategory ProductSubCategory  ProductPrice
48          Amy   Home & Garden              Decor          0.01
3           Amy   Home & Garden              Decor        364.01
217         Amy   Home & Garden              Decor      36401.00
25          Amy   Home & Garden              Decor      99999.99
33          Amy   Home & Garden              Decor      99999.99

## suppliers

In [23]:
suppliers = df[['SupplierName', 'SupplierLocation','SupplierContact']]

In [24]:
suppliers = suppliers.drop_duplicates()

In [25]:
suppliers.sort_values(by="SupplierName").head()

,SupplierName,SupplierLocation,SupplierContact
3872,Brown-Miller,Seanfort,FHCWX+I7XvI607iPiA==*OWCS/ldoXh0F09DWneqEDw==*...
754,Brown-Miller,Seanfort,Kk2nVarxniu3xafwOw==*ZY2e07YVDQUQUtnoVaejjg==*...
1946,Brown-Miller,Seanfort,Q3iPnmZQd3z1JGII4w==*BMUiIkrdhki1We4O8gr5ig==*...
1945,Brown-Miller,Seanfort,gMv/vsOxSKSX82RBSQ==*6a7JaQxVbJQBXb1/npTX+w==*...
2888,Brown-Miller,Seanfort,0OcUPCtQ7OLtZPSDsw==*EwE8V9gCEPRF5gGNLHS+pQ==*...

In [26]:
suppliers = suppliers.dropna()

In [27]:
suppliers.head()

,SupplierName,SupplierLocation,SupplierContact
0,"Rodriguez, Winters and Perez",Irwinhaven,Xx2iivybgdHxxA==*OenyR7lXcUFLGRVV6x5Bww==*2T4H...
1,Lawson-Wilkins,Calderonchester,n97N*ICxPTYaTJrN37vQNnOl/ng==*0fzzqJbPZO3tbg3K...
2,Lee-Miller,South Emilyview,0YkDQDdP0ENy1Fh6SC8O*yyjbGxuG2rC0c0bM8PKRjg==*...
3,Soto-Rivera,West Denise,y+WCFL6qzxIlSwBUJfAM50A=*WdgeIzTK5COjHploavviT...
4,"Rodriguez, Winters and Perez",Irwinhaven,IaPrkxSd3mkI5g==*g0aNadDFbeF9Nej/3h+p/Q==*1Yuv...

## shippers

In [82]:
shippers = df[['ShipperName', 'ShippingMethod']]

In [83]:
shippers = shippers.drop_duplicates()

In [84]:
shippers

   ShipperName ShippingMethod
0     and Sons         Ground
1          PLC            Air
2          PLC            Sea
3          LLC            Air
4          Ltd            Sea
5          Inc         Ground
7        Group         Ground
8          Inc            Air
11    and Sons            Sea
15         Inc            Sea
16       Group            Sea
20         PLC         Ground
26         LLC         Ground
28         Ltd         Ground
29    and Sons            Air
33         Ltd            Air
39       Group            Air
55         LLC            Sea

## transactions

In [31]:
transactions = df[['Date', 'QuantitySold', 'TotalAmount', 'DiscountAmount', 'NetAmount']]

In [32]:
transactions = transactions.sort_values(by="Date", ascending=False)

In [33]:
transactions.head()

            Date  QuantitySold  TotalAmount  DiscountAmount  NetAmount
1748  2023-09-28             4      2609.40          170.62    2438.78
1075  2023-09-28            75     63557.25           74.12   63483.13
3292  2023-09-28            16     13443.04          242.87   13200.17
4190  2023-09-28            36     13104.36            8.36   13096.00
2200  2023-09-28            65     64683.45            0.59   64682.86

## stock

In [34]:
stock = df[['Date', 'StockReceived', 'StockSold', 'StockOnHand']]

In [35]:
stock = stock.sort_values(by="Date", ascending=False)

In [36]:
stock.head()

            Date  StockReceived  StockSold  StockOnHand
1748  2023-09-28            289        187          102
1075  2023-09-28            500        116          384
3292  2023-09-28            208        117           91
4190  2023-09-28            187        101           86
2200  2023-09-28            421         72          349

## salesfact

In [45]:
salesfact = df[["Date", "CustomerName", "QuantitySold", "TotalAmount", "DiscountAmount", "NetAmount"]]

In [46]:
salesfact.head()

,Date,CustomerName,QuantitySold,TotalAmount,DiscountAmount,NetAmount
0,2023-09-14,Colleen Kelly,49,31965.15,121.07,31844.08
1,2023-02-11,Joel Wright,73,61862.39,91.09,61771.30
2,2021-11-12,Thomas Sawyer,89,34404.73,10.56,34394.17
3,2021-11-15,Tyler Gardner,3,1092.03,69.06,1022.97
4,2023-04-22,Meagan Peterson,75,48926.25,137.17,48789.08

In [61]:
salesfact.merge(customers, left_on='CustomerName', right_on='CustomerName').head()

,Date,CustomerName,QuantitySold,TotalAmount,DiscountAmount,NetAmount,CustomerEmail,CustomerAddress,CustomerPhone,CustomerSegment
0,2023-09-14,Colleen Kelly,49,31965.15,121.07,31844.08,BAHw0IHoVd5tjg5xeWxlW5GNEofb*QfsXczzIW4Oh8fAZg...,"354 Mcdowell Turnpike, Port Charles, CT 95318",vk5nsVB/kBINOy1K6JK69js=*BKcF9ZGcPPNLzLWCU6EDB...,Silver
1,2023-02-11,Joel Wright,73,61862.39,91.09,61771.30,qGgefz9XZLRRpJlIMYCJlqpov9xbC/yr49bG*21kIgLKi0...,"24740 Fox Villages, New Tracie, MA 53038",RhaTg82mUgmAjlO1tBqXgcvbvw==*VMWRsUpW5C+zBkEq8...,Gold
2,2021-11-12,Thomas Sawyer,89,34404.73,10.56,34394.17,Uj+oqzRCId02ouN9VcpJVwUEbA==*39gh0z1R8gkddYwLd...,"769 Joe Trail, East Terri, CA 43813",tf7Z9QcDwi7NqJL73zTiFMuo6hKkHw==*O6LOhEBZ0X/GY...,Gold
3,2021-11-15,Tyler Gardner,3,1092.03,69.06,1022.97,vEE+AAMOO0EXJ0XzEoDBSeVLK3GGM+LyhpziKtMw*DbrZN...,"27783 Olivia Centers, Williamsmouth, AL 09809",eHRTa5jDCZX2bA==*skl5WvikCdIihyytCXvAvw==*c7VV...,Gold
4,2023-04-22,Meagan Peterson,75,48926.25,137.17,48789.08,KhSSUYUL7ef6wHOioAxp6foY6g==*c99v9nDe6rOb5gSXV...,"25357 Blackwell Locks, Andreabury, MH 27857",OHqoUstvW1QyRQ==*+Ilm+Mc/aXD/AU7xmwYhMg==*kE2Q...,Gold

## inventoryfact

In [55]:
inventoryfact = df[["Date", "SupplierName", "ProductName","ProductCategory","ProductSubCategory",
                    "ProductPrice","StockReceived","StockSold","StockOnHand"]]

In [56]:
inventoryfact.head()

,Date,SupplierName,ProductName,ProductCategory,ProductSubCategory,ProductPrice,StockReceived,StockSold,StockOnHand
0,2023-09-14,"Rodriguez, Winters and Perez",Nathaniel,Electronics,Camera,0.01,475,127,348
1,2023-02-11,Lawson-Wilkins,NaN,Electronics,Mobile,847.43,487,243,244
2,2021-11-12,Lee-Miller,Angela,NaN,Action Figures,386.57,341,188,153
3,2021-11-15,Soto-Rivera,Amy,Home & Garden,Decor,364.01,500,124,376
4,2023-04-22,"Rodriguez, Winters and Perez",Nathaniel,Electronics,Camera,652.35,429,351,78

In [60]:
inventoryfact.merge(suppliers, left_on='SupplierName', right_on='SupplierName').head()

,Date,SupplierName,ProductName,ProductCategory,ProductSubCategory,ProductPrice,StockReceived,StockSold,StockOnHand,SupplierLocation,SupplierContact
0,2023-09-14,"Rodriguez, Winters and Perez",Nathaniel,Electronics,Camera,0.01,475,127,348,Irwinhaven,Xx2iivybgdHxxA==*OenyR7lXcUFLGRVV6x5Bww==*2T4H...
1,2023-09-14,"Rodriguez, Winters and Perez",Nathaniel,Electronics,Camera,0.01,475,127,348,Irwinhaven,IaPrkxSd3mkI5g==*g0aNadDFbeF9Nej/3h+p/Q==*1Yuv...
2,2023-09-14,"Rodriguez, Winters and Perez",Nathaniel,Electronics,Camera,0.01,475,127,348,Irwinhaven,sXTsLZlVK1AMgA==*553vFwYcFFm29edt/cId7A==*1hII...
3,2023-09-14,"Rodriguez, Winters and Perez",Nathaniel,Electronics,Camera,0.01,475,127,348,Irwinhaven,ZPZuwIIvFAncyQ==*MooIxSsNV6zzddZjm1APhA==*lkb8...
4,2023-09-14,"Rodriguez, Winters and Perez",Nathaniel,Electronics,Camera,0.01,475,127,348,Irwinhaven,Jt1SSatHHAQIKw==*8Yt5oQmojt+a1D0Qtstjgg==*J4QR...

# sql operations

In [91]:
from urllib.parse import urlparse

In [95]:
url_components = urlparse(database_url)

In [96]:
url_components

ParseResult(scheme='jdbc', netloc='', path='postgresql://dpg-csph7oqj1k6c73at4pfg-a.frankfurt-postgres.render.com:5432/manelmart', params='', query='', fragment='')

In [69]:
engine = create_engine(f"postgresql://manelmart_user:nNKAxTwpG3nui0XdsbZYbL6l63Djo1oS@dpg-csph7oqj1k6c73at4pfg-a.frankfurt-postgres.render.com:5432/manelmart")

In [76]:
with engine.connect() as conn:

    conn.execute(CreateSchema("sales-datamart", if_not_exists=True))
    conn.execute(CreateSchema("inventory-datamart", if_not_exists=True))
    conn.commit()

In [77]:
dateh.to_sql('date', schema="sales-datamart", con=engine)
dateh.to_sql('date', schema="inventory-datamart", con=engine)

1000

In [78]:
customers.to_sql('customers', schema="sales-datamart", con=engine, if_exists="replace")

1000

In [79]:
products.to_sql('products', schema="sales-datamart", con=engine, if_exists="replace")

274

In [80]:
suppliers.to_sql('suppliers', schema="inventory-datamart", con=engine, if_exists="replace")

1000

In [85]:
shipper.to_sql('shippers', schema="sales-datamart", con=engine, if_exists="replace")

18

In [86]:
transactions.to_sql('transactions', schema="sales-datamart", con=engine, if_exists="replace")

1000

In [87]:
stock.to_sql('stock', schema="inventory-datamart", con=engine, if_exists="replace")

1000

In [88]:
salesfact.to_sql('salesfact', schema="sales-datamart", con=engine, if_exists="replace")

1000

In [90]:
inventoryfact.to_sql('inventoryfact', schema="inventory-datamart", con=engine, if_exists="replace")

1000