In [1]:
SPARK_LOCAL_IP="127.0.0.1"

from pyspark.sql import SparkSession, Window
import pyspark.sql.functions as F
from pyspark.sql.types import *

import time

spark = SparkSession.builder.config("spark.sql.repl.eagerEval.enabled", True).getOrCreate()

In [2]:
# Creation du Dataframe

In [3]:
matrix = [
[' Ricky', 4879320143, '2022-09-05 11:23:59', True],
['Simon', 4879320143, '2022-09-05 11:23:59', True],
['Sergio', 4879320143, '2022-09-05 11:23:59', True],
['Pedrito', 4879320143, '2022-09-07 11:23:59', True],
['jJuenito', 4879320143, '2022-09-08 11:23:59', True],
['Pepe', 4879320143, '2022-09-09 11:23:59', True],
['Liusa', 4879320143, '2022-09-05 11:23:59', True],
]

columns = ['name', 'dni', 'date', 'is_human']

spark_df = spark.createDataFrame(matrix, columns)

In [4]:
spark_df

+--------+----------+-------------------+--------+
|    name|       dni|               date|is_human|
+--------+----------+-------------------+--------+
|   Ricky|4879320143|2022-09-05 11:23:59|    true|
|   Simon|4879320143|2022-09-05 11:23:59|    true|
|  Sergio|4879320143|2022-09-05 11:23:59|    true|
| Pedrito|4879320143|2022-09-07 11:23:59|    true|
|jJuenito|4879320143|2022-09-08 11:23:59|    true|
|    Pepe|4879320143|2022-09-09 11:23:59|    true|
|   Liusa|4879320143|2022-09-05 11:23:59|    true|
+--------+----------+-------------------+--------+

In [5]:
# 1. `lit`: Ajouter une colonne avec une valeur constante

In [6]:
spark_df.select("*",F.lit("1").alias("one_lol"))

+--------+----------+-------------------+--------+-------+
|    name|       dni|               date|is_human|one_lol|
+--------+----------+-------------------+--------+-------+
|   Ricky|4879320143|2022-09-05 11:23:59|    true|      1|
|   Simon|4879320143|2022-09-05 11:23:59|    true|      1|
|  Sergio|4879320143|2022-09-05 11:23:59|    true|      1|
| Pedrito|4879320143|2022-09-07 11:23:59|    true|      1|
|jJuenito|4879320143|2022-09-08 11:23:59|    true|      1|
|    Pepe|4879320143|2022-09-09 11:23:59|    true|      1|
|   Liusa|4879320143|2022-09-05 11:23:59|    true|      1|
+--------+----------+-------------------+--------+-------+

In [7]:
# 2. `col` et `when`: Créer une colonne avec une condition

In [8]:
spark_df.withColumn("is_Pepe", F.when(F.col("name") == "Pepe" , F.lit("OW YEAH")).otherwise(F.lit("AW NAH")))

+--------+----------+-------------------+--------+-------+
|    name|       dni|               date|is_human|is_Pepe|
+--------+----------+-------------------+--------+-------+
|   Ricky|4879320143|2022-09-05 11:23:59|    true| AW NAH|
|   Simon|4879320143|2022-09-05 11:23:59|    true| AW NAH|
|  Sergio|4879320143|2022-09-05 11:23:59|    true| AW NAH|
| Pedrito|4879320143|2022-09-07 11:23:59|    true| AW NAH|
|jJuenito|4879320143|2022-09-08 11:23:59|    true| AW NAH|
|    Pepe|4879320143|2022-09-09 11:23:59|    true|OW YEAH|
|   Liusa|4879320143|2022-09-05 11:23:59|    true| AW NAH|
+--------+----------+-------------------+--------+-------+

In [9]:
# 3. `concat`: Combiner des colonnes en une seule chaîne

In [10]:
spark_df.withColumn("dnidatelol", F.concat(spark_df.dni, spark_df.date))

+--------+----------+-------------------+--------+--------------------+
|    name|       dni|               date|is_human|          dnidatelol|
+--------+----------+-------------------+--------+--------------------+
|   Ricky|4879320143|2022-09-05 11:23:59|    true|48793201432022-09...|
|   Simon|4879320143|2022-09-05 11:23:59|    true|48793201432022-09...|
|  Sergio|4879320143|2022-09-05 11:23:59|    true|48793201432022-09...|
| Pedrito|4879320143|2022-09-07 11:23:59|    true|48793201432022-09...|
|jJuenito|4879320143|2022-09-08 11:23:59|    true|48793201432022-09...|
|    Pepe|4879320143|2022-09-09 11:23:59|    true|48793201432022-09...|
|   Liusa|4879320143|2022-09-05 11:23:59|    true|48793201432022-09...|
+--------+----------+-------------------+--------+--------------------+

In [11]:
# 4. `month`, `year`, `quarter`: Extraire le mois, l'année et le trimestre

In [12]:
spark_df.withColumn('month', F.month('date')) \
        .withColumn('year', F.year('date')) \
        .withColumn('quarter', F.quarter('date'))

+--------+----------+-------------------+--------+-----+----+-------+
|    name|       dni|               date|is_human|month|year|quarter|
+--------+----------+-------------------+--------+-----+----+-------+
|   Ricky|4879320143|2022-09-05 11:23:59|    true|    9|2022|      3|
|   Simon|4879320143|2022-09-05 11:23:59|    true|    9|2022|      3|
|  Sergio|4879320143|2022-09-05 11:23:59|    true|    9|2022|      3|
| Pedrito|4879320143|2022-09-07 11:23:59|    true|    9|2022|      3|
|jJuenito|4879320143|2022-09-08 11:23:59|    true|    9|2022|      3|
|    Pepe|4879320143|2022-09-09 11:23:59|    true|    9|2022|      3|
|   Liusa|4879320143|2022-09-05 11:23:59|    true|    9|2022|      3|
+--------+----------+-------------------+--------+-----+----+-------+

In [13]:
# 5. `abs` et `floor`: Appliquer des fonctions mathématiques

In [14]:
spark_df.withColumn("absdni", F.abs(F.col("dni") -1))

+--------+----------+-------------------+--------+----------+
|    name|       dni|               date|is_human|    absdni|
+--------+----------+-------------------+--------+----------+
|   Ricky|4879320143|2022-09-05 11:23:59|    true|4879320142|
|   Simon|4879320143|2022-09-05 11:23:59|    true|4879320142|
|  Sergio|4879320143|2022-09-05 11:23:59|    true|4879320142|
| Pedrito|4879320143|2022-09-07 11:23:59|    true|4879320142|
|jJuenito|4879320143|2022-09-08 11:23:59|    true|4879320142|
|    Pepe|4879320143|2022-09-09 11:23:59|    true|4879320142|
|   Liusa|4879320143|2022-09-05 11:23:59|    true|4879320142|
+--------+----------+-------------------+--------+----------+

In [15]:
# rating = [[5,10],
#           [6,14],
#           [7,3],
#           [8,2],
#           [9,6],
#           [10,11],
#           [11,7]
#           ]

rating = [5.1, 4.2, 1.6, 4.5, 8.7, 10.1, 3.3]
b = spark.createDataFrame([(l,) for l in rating], ['Rating'])

spark_df = spark_df.withColumn("row_idx", F.row_number().over(Window.orderBy(F.monotonically_increasing_id())))
b = b.withColumn("row_idx", F.row_number().over(Window.orderBy(F.monotonically_increasing_id())))

spark_df2 = spark_df.join(b, spark_df.row_idx == b.row_idx).\
             drop("row_idx")

spark_df2

+--------+----------+-------------------+--------+------+
|    name|       dni|               date|is_human|Rating|
+--------+----------+-------------------+--------+------+
|   Ricky|4879320143|2022-09-05 11:23:59|    true|   5.1|
|   Simon|4879320143|2022-09-05 11:23:59|    true|   4.2|
|  Sergio|4879320143|2022-09-05 11:23:59|    true|   1.6|
| Pedrito|4879320143|2022-09-07 11:23:59|    true|   4.5|
|jJuenito|4879320143|2022-09-08 11:23:59|    true|   8.7|
|    Pepe|4879320143|2022-09-09 11:23:59|    true|  10.1|
|   Liusa|4879320143|2022-09-05 11:23:59|    true|   3.3|
+--------+----------+-------------------+--------+------+

In [16]:
spark_df2.withColumn("floorr", F.floor(F.col("Rating")))

+--------+----------+-------------------+--------+------+------+
|    name|       dni|               date|is_human|Rating|floorr|
+--------+----------+-------------------+--------+------+------+
|   Ricky|4879320143|2022-09-05 11:23:59|    true|   5.1|     5|
|   Simon|4879320143|2022-09-05 11:23:59|    true|   4.2|     4|
|  Sergio|4879320143|2022-09-05 11:23:59|    true|   1.6|     1|
| Pedrito|4879320143|2022-09-07 11:23:59|    true|   4.5|     4|
|jJuenito|4879320143|2022-09-08 11:23:59|    true|   8.7|     8|
|    Pepe|4879320143|2022-09-09 11:23:59|    true|  10.1|    10|
|   Liusa|4879320143|2022-09-05 11:23:59|    true|   3.3|     3|
+--------+----------+-------------------+--------+------+------+

In [17]:
# 6. `concat_ws`: Concaténer avec un séparateur

In [18]:
spark_df.select("*", F.concat_ws('-', spark_df.name, spark_df.is_human).alias('status'))

+--------+----------+-------------------+--------+-------+-------------+
|    name|       dni|               date|is_human|row_idx|       status|
+--------+----------+-------------------+--------+-------+-------------+
|   Ricky|4879320143|2022-09-05 11:23:59|    true|      1|   Ricky-true|
|   Simon|4879320143|2022-09-05 11:23:59|    true|      2|   Simon-true|
|  Sergio|4879320143|2022-09-05 11:23:59|    true|      3|  Sergio-true|
| Pedrito|4879320143|2022-09-07 11:23:59|    true|      4| Pedrito-true|
|jJuenito|4879320143|2022-09-08 11:23:59|    true|      5|jJuenito-true|
|    Pepe|4879320143|2022-09-09 11:23:59|    true|      6|    Pepe-true|
|   Liusa|4879320143|2022-09-05 11:23:59|    true|      7|   Liusa-true|
+--------+----------+-------------------+--------+-------+-------------+

In [19]:
# 7. `array_distinct`, `collect_list`, `collect_set`: Utiliser des fonctions d'agrégation sur des arrays

In [20]:
# array_distinct
spark_df.withColumn("dnidni", F.concat_ws('-', spark_df.dni, spark_df.dni)) \
        .withColumn("dniArray", F.split(F.col("dnidni"),"-")) \
        .withColumn("unique_dniArray", F.array_distinct("dniArray")) \
        .show(spark_df.count(), False)

+--------+----------+-------------------+--------+-------+---------------------+------------------------+---------------+
|name    |dni       |date               |is_human|row_idx|dnidni               |dniArray                |unique_dniArray|
+--------+----------+-------------------+--------+-------+---------------------+------------------------+---------------+
| Ricky  |4879320143|2022-09-05 11:23:59|true    |1      |4879320143-4879320143|[4879320143, 4879320143]|[4879320143]   |
|Simon   |4879320143|2022-09-05 11:23:59|true    |2      |4879320143-4879320143|[4879320143, 4879320143]|[4879320143]   |
|Sergio  |4879320143|2022-09-05 11:23:59|true    |3      |4879320143-4879320143|[4879320143, 4879320143]|[4879320143]   |
|Pedrito |4879320143|2022-09-07 11:23:59|true    |4      |4879320143-4879320143|[4879320143, 4879320143]|[4879320143]   |
|jJuenito|4879320143|2022-09-08 11:23:59|true    |5      |4879320143-4879320143|[4879320143, 4879320143]|[4879320143]   |
|Pepe    |4879320143|2022-09-09 11:23:59|true    |6      |4879320143-4879320143|[4879320143, 4879320143]|[4879320143]   |
|Liusa   |4879320143|2022-09-05 11:23:59|true    |7      |4879320143-4879320143|[4879320143, 4879320143]|[4879320143]   |
+--------+----------+-------------------+--------+-------+---------------------+------------------------+---------------+

In [21]:
# collect_list
spark_df.groupBy("date").agg(F.collect_list("name") \
        .alias("names_in_date")) \
        .show(spark_df.count(), False)

+-------------------+------------------------------+
|date               |names_in_date                 |
+-------------------+------------------------------+
|2022-09-05 11:23:59|[ Ricky, Simon, Sergio, Liusa]|
|2022-09-07 11:23:59|[Pedrito]                     |
|2022-09-08 11:23:59|[jJuenito]                    |
|2022-09-09 11:23:59|[Pepe]                        |
+-------------------+------------------------------+

In [22]:
# collect_set
rating = [5, 5, 6, 6, 8, 8, 3]
b = spark.createDataFrame([(l,) for l in rating], ['Rating'])

spark_df = spark_df.withColumn("row_idx", F.row_number().over(Window.orderBy(F.monotonically_increasing_id())))
b = b.withColumn("row_idx", F.row_number().over(Window.orderBy(F.monotonically_increasing_id())))

spark_df3 = spark_df.join(b, spark_df.row_idx == b.row_idx).\
             drop("row_idx")

spark_df3

+--------+----------+-------------------+--------+------+
|    name|       dni|               date|is_human|Rating|
+--------+----------+-------------------+--------+------+
|   Ricky|4879320143|2022-09-05 11:23:59|    true|     5|
|   Simon|4879320143|2022-09-05 11:23:59|    true|     5|
|  Sergio|4879320143|2022-09-05 11:23:59|    true|     6|
| Pedrito|4879320143|2022-09-07 11:23:59|    true|     6|
|jJuenito|4879320143|2022-09-08 11:23:59|    true|     8|
|    Pepe|4879320143|2022-09-09 11:23:59|    true|     8|
|   Liusa|4879320143|2022-09-05 11:23:59|    true|     3|
+--------+----------+-------------------+--------+------+

In [23]:
spark_df3.groupBy("dni").agg(F.collect_set("Rating") \
        .alias("nodupratinglol")) \
        .show(spark_df.count(), False)

+----------+--------------+
|dni       |nodupratinglol|
+----------+--------------+
|4879320143|[5, 6, 3, 8]  |
+----------+--------------+

In [24]:
# 8. `split` et `trim`: Nettoyer et diviser des chaînes

In [25]:
# split
spark_df.withColumn('dates', F.split(spark_df.date, '-'))

+--------+----------+-------------------+--------+-------+--------------------+
|    name|       dni|               date|is_human|row_idx|               dates|
+--------+----------+-------------------+--------+-------+--------------------+
|   Ricky|4879320143|2022-09-05 11:23:59|    true|      1|[2022, 09, 05 11:...|
|   Simon|4879320143|2022-09-05 11:23:59|    true|      2|[2022, 09, 05 11:...|
|  Sergio|4879320143|2022-09-05 11:23:59|    true|      3|[2022, 09, 05 11:...|
| Pedrito|4879320143|2022-09-07 11:23:59|    true|      4|[2022, 09, 07 11:...|
|jJuenito|4879320143|2022-09-08 11:23:59|    true|      5|[2022, 09, 08 11:...|
|    Pepe|4879320143|2022-09-09 11:23:59|    true|      6|[2022, 09, 09 11:...|
|   Liusa|4879320143|2022-09-05 11:23:59|    true|      7|[2022, 09, 05 11:...|
+--------+----------+-------------------+--------+-------+--------------------+

In [75]:
# trim
spark_df.withColumn('ishumaneh', F.regexp_replace('is_human', 'true', '  true   ')) \
        .withColumn("isisihumanhuman", F.trim(F.col("ishumaneh"))) \
        .withColumn("lengtha", F.length("is_human")) \
        .withColumn("lengthe", F.length("isisihumanhuman"))

+--------+----------+-------------------+--------+-------+---------+---------------+-------+-------+
|    name|       dni|               date|is_human|row_idx|ishumaneh|isisihumanhuman|lengtha|lengthe|
+--------+----------+-------------------+--------+-------+---------+---------------+-------+-------+
|   Ricky|4879320143|2022-09-05 11:23:59|    true|      1|  true   |           true|      4|      4|
|   Simon|4879320143|2022-09-05 11:23:59|    true|      2|  true   |           true|      4|      4|
|  Sergio|4879320143|2022-09-05 11:23:59|    true|      3|  true   |           true|      4|      4|
| Pedrito|4879320143|2022-09-07 11:23:59|    true|      4|  true   |           true|      4|      4|
|jJuenito|4879320143|2022-09-08 11:23:59|    true|      5|  true   |           true|      4|      4|
|    Pepe|4879320143|2022-09-09 11:23:59|    true|      6|  true   |           true|      4|      4|
|   Liusa|4879320143|2022-09-05 11:23:59|    true|      7|  true   |           true|      4|      4|
+--------+----------+-------------------+--------+-------+---------+---------------+-------+-------+

In [27]:
# 9. `explode`: Diviser une colonne de tableau en lignes distinctes

In [28]:
spark_df.withColumn('dates', F.split(spark_df.date, '-')) \
        .withColumn("EXPLOSIOOOOOOOOOOOOOOOOOOOON", F.explode(F.col("dates")))

+--------+----------+-------------------+--------+-------+--------------------+----------------------------+
|    name|       dni|               date|is_human|row_idx|               dates|EXPLOSIOOOOOOOOOOOOOOOOOOOON|
+--------+----------+-------------------+--------+-------+--------------------+----------------------------+
|   Ricky|4879320143|2022-09-05 11:23:59|    true|      1|[2022, 09, 05 11:...|                        2022|
|   Ricky|4879320143|2022-09-05 11:23:59|    true|      1|[2022, 09, 05 11:...|                          09|
|   Ricky|4879320143|2022-09-05 11:23:59|    true|      1|[2022, 09, 05 11:...|                 05 11:23:59|
|   Simon|4879320143|2022-09-05 11:23:59|    true|      2|[2022, 09, 05 11:...|                        2022|
|   Simon|4879320143|2022-09-05 11:23:59|    true|      2|[2022, 09, 05 11:...|                          09|
|   Simon|4879320143|2022-09-05 11:23:59|    true|      2|[2022, 09, 05 11:...|                 05 11:23:59|
|  Sergio|4879320143|2022-09-05 11:23:59|    true|      3|[2022, 09, 05 11:...|                        2022|
|  Sergio|4879320143|2022-09-05 11:23:59|    true|      3|[2022, 09, 05 11:...|                          09|
|  Sergio|4879320143|2022-09-05 11:23:59|    true|      3|[2022, 09, 05 11:...|                 05 11:23:59|
| Pedrito|4879320143|2022-09-07 11:23:59|    true|      4|[2022, 09, 07 11:...|                        2022|
| Pedrito|4879320143|2022-09-07 11:23:59|    true|      4|[2022, 09, 07 11:...|                          09|
| Pedrito|4879320143|2022-09-07 11:23:59|    true|      4|[2022, 09, 07 11:...|                 07 11:23:59|
|jJuenito|4879320143|2022-09-08 11:23:59|    true|      5|[2022, 09, 08 11:...|                        2022|
|jJuenito|4879320143|2022-09-08 11:23:59|    true|      5|[2022, 09, 08 11:...|                          09|
|jJuenito|4879320143|2022-09-08 11:23:59|    true|      5|[2022, 09, 08 11:...|                 08 11:23:59|
|    Pepe|4879320143|2022-09-09 11:23:59|    true|      6|[2022, 09, 09 11:...|                        2022|
|    Pepe|4879320143|2022-09-09 11:23:59|    true|      6|[2022, 09, 09 11:...|                          09|
|    Pepe|4879320143|2022-09-09 11:23:59|    true|      6|[2022, 09, 09 11:...|                 09 11:23:59|
|   Liusa|4879320143|2022-09-05 11:23:59|    true|      7|[2022, 09, 05 11:...|                        2022|
|   Liusa|4879320143|2022-09-05 11:23:59|    true|      7|[2022, 09, 05 11:...|                          09|
+--------+----------+-------------------+--------+-------+--------------------+----------------------------+
only showing top 20 rows

In [29]:
# 10. `lower`: Convertir des chaînes en minuscules

In [30]:
spark_df.withColumn("lower_name", F.lower(F.col("name")))

+--------+----------+-------------------+--------+-------+----------+
|    name|       dni|               date|is_human|row_idx|lower_name|
+--------+----------+-------------------+--------+-------+----------+
|   Ricky|4879320143|2022-09-05 11:23:59|    true|      1|     ricky|
|   Simon|4879320143|2022-09-05 11:23:59|    true|      2|     simon|
|  Sergio|4879320143|2022-09-05 11:23:59|    true|      3|    sergio|
| Pedrito|4879320143|2022-09-07 11:23:59|    true|      4|   pedrito|
|jJuenito|4879320143|2022-09-08 11:23:59|    true|      5|  jjuenito|
|    Pepe|4879320143|2022-09-09 11:23:59|    true|      6|      pepe|
|   Liusa|4879320143|2022-09-05 11:23:59|    true|      7|     liusa|
+--------+----------+-------------------+--------+-------+----------+

In [31]:
# 11. `select`: Sélectionner des colonnes spécifiques

In [32]:
spark_df.select("dni")

+----------+
|       dni|
+----------+
|4879320143|
|4879320143|
|4879320143|
|4879320143|
|4879320143|
|4879320143|
|4879320143|
+----------+

In [33]:
# 12. `withColumn`: Créer une nouvelle colonne

In [34]:
spark_df.withColumn("lower_name", F.lower(F.col("name")))

+--------+----------+-------------------+--------+-------+----------+
|    name|       dni|               date|is_human|row_idx|lower_name|
+--------+----------+-------------------+--------+-------+----------+
|   Ricky|4879320143|2022-09-05 11:23:59|    true|      1|     ricky|
|   Simon|4879320143|2022-09-05 11:23:59|    true|      2|     simon|
|  Sergio|4879320143|2022-09-05 11:23:59|    true|      3|    sergio|
| Pedrito|4879320143|2022-09-07 11:23:59|    true|      4|   pedrito|
|jJuenito|4879320143|2022-09-08 11:23:59|    true|      5|  jjuenito|
|    Pepe|4879320143|2022-09-09 11:23:59|    true|      6|      pepe|
|   Liusa|4879320143|2022-09-05 11:23:59|    true|      7|     liusa|
+--------+----------+-------------------+--------+-------+----------+

In [35]:
# 13. `withColumnRenamed`: Renommer une colonne

In [36]:
spark_df.withColumnRenamed("name", "nameh")

+--------+----------+-------------------+--------+-------+
|   nameh|       dni|               date|is_human|row_idx|
+--------+----------+-------------------+--------+-------+
|   Ricky|4879320143|2022-09-05 11:23:59|    true|      1|
|   Simon|4879320143|2022-09-05 11:23:59|    true|      2|
|  Sergio|4879320143|2022-09-05 11:23:59|    true|      3|
| Pedrito|4879320143|2022-09-07 11:23:59|    true|      4|
|jJuenito|4879320143|2022-09-08 11:23:59|    true|      5|
|    Pepe|4879320143|2022-09-09 11:23:59|    true|      6|
|   Liusa|4879320143|2022-09-05 11:23:59|    true|      7|
+--------+----------+-------------------+--------+-------+

In [37]:
# 14. `drop`: Supprimer une colonne

In [38]:
spark_df.drop("dni")

+--------+-------------------+--------+-------+
|    name|               date|is_human|row_idx|
+--------+-------------------+--------+-------+
|   Ricky|2022-09-05 11:23:59|    true|      1|
|   Simon|2022-09-05 11:23:59|    true|      2|
|  Sergio|2022-09-05 11:23:59|    true|      3|
| Pedrito|2022-09-07 11:23:59|    true|      4|
|jJuenito|2022-09-08 11:23:59|    true|      5|
|    Pepe|2022-09-09 11:23:59|    true|      6|
|   Liusa|2022-09-05 11:23:59|    true|      7|
+--------+-------------------+--------+-------+

In [39]:
# 15. `join`: Joindre deux DataFrames (ici nous réutilisons le DataFrame lui-même pour l'exemple)

In [40]:
spark_df.join(spark_df, spark_df.name ==  spark_df.name,"inner")

+--------+----------+-------------------+--------+-------+--------+----------+-------------------+--------+-------+
|    name|       dni|               date|is_human|row_idx|    name|       dni|               date|is_human|row_idx|
+--------+----------+-------------------+--------+-------+--------+----------+-------------------+--------+-------+
|   Ricky|4879320143|2022-09-05 11:23:59|    true|      1|   Ricky|4879320143|2022-09-05 11:23:59|    true|      1|
|   Simon|4879320143|2022-09-05 11:23:59|    true|      2|   Simon|4879320143|2022-09-05 11:23:59|    true|      2|
|  Sergio|4879320143|2022-09-05 11:23:59|    true|      3|  Sergio|4879320143|2022-09-05 11:23:59|    true|      3|
| Pedrito|4879320143|2022-09-07 11:23:59|    true|      4| Pedrito|4879320143|2022-09-07 11:23:59|    true|      4|
|jJuenito|4879320143|2022-09-08 11:23:59|    true|      5|jJuenito|4879320143|2022-09-08 11:23:59|    true|      5|
|    Pepe|4879320143|2022-09-09 11:23:59|    true|      6|    Pepe|4879320143|2022-09-09 11:23:59|    true|      6|
|   Liusa|4879320143|2022-09-05 11:23:59|    true|      7|   Liusa|4879320143|2022-09-05 11:23:59|    true|      7|
+--------+----------+-------------------+--------+-------+--------+----------+-------------------+--------+-------+

In [41]:
# 16. `groupBy` et `agg`: Grouper par une colonne et appliquer une agrégation

In [42]:
spark_df.groupBy("date") \
    .agg(F.sum("name").alias("sum_salary"), \
         F.avg("name").alias("avg_salary"), \
         F.sum("name").alias("sum_bonus"), \
         F.max("name").alias("max_bonus") \
     ) \
    .show(truncate=False)

+-------------------+----------+----------+---------+---------+
|date               |sum_salary|avg_salary|sum_bonus|max_bonus|
+-------------------+----------+----------+---------+---------+
|2022-09-05 11:23:59|NULL      |NULL      |NULL     |Simon    |
|2022-09-07 11:23:59|NULL      |NULL      |NULL     |Pedrito  |
|2022-09-08 11:23:59|NULL      |NULL      |NULL     |jJuenito |
|2022-09-09 11:23:59|NULL      |NULL      |NULL     |Pepe     |
+-------------------+----------+----------+---------+---------+

In [43]:
# 17. `drop_duplicates`: Supprimer les doublons

In [44]:
spark_df.dropDuplicates(["date"])

+--------+----------+-------------------+--------+-------+
|    name|       dni|               date|is_human|row_idx|
+--------+----------+-------------------+--------+-------+
|   Ricky|4879320143|2022-09-05 11:23:59|    true|      1|
| Pedrito|4879320143|2022-09-07 11:23:59|    true|      4|
|jJuenito|4879320143|2022-09-08 11:23:59|    true|      5|
|    Pepe|4879320143|2022-09-09 11:23:59|    true|      6|
+--------+----------+-------------------+--------+-------+

In [45]:
# 18. `where`/`filter`: Filtrer les lignes selon une condition

In [46]:
spark_df.filter(spark_df.name == "Pepe")

+----+----------+-------------------+--------+-------+
|name|       dni|               date|is_human|row_idx|
+----+----------+-------------------+--------+-------+
|Pepe|4879320143|2022-09-09 11:23:59|    true|      6|
+----+----------+-------------------+--------+-------+

In [47]:
# 19. `when` et `otherwise`: Créer une colonne conditionnelle

In [48]:
spark_df.withColumn("IS_IT_PEPE?????", F.when(F.col('name') == "Pepe","YES IT ISSSSSSSSSSSSSSSSSSS") \
                                 .otherwise(spark_df.name))

+--------+----------+-------------------+--------+-------+--------------------+
|    name|       dni|               date|is_human|row_idx|     IS_IT_PEPE?????|
+--------+----------+-------------------+--------+-------+--------------------+
|   Ricky|4879320143|2022-09-05 11:23:59|    true|      1|               Ricky|
|   Simon|4879320143|2022-09-05 11:23:59|    true|      2|               Simon|
|  Sergio|4879320143|2022-09-05 11:23:59|    true|      3|              Sergio|
| Pedrito|4879320143|2022-09-07 11:23:59|    true|      4|             Pedrito|
|jJuenito|4879320143|2022-09-08 11:23:59|    true|      5|            jJuenito|
|    Pepe|4879320143|2022-09-09 11:23:59|    true|      6|YES IT ISSSSSSSSS...|
|   Liusa|4879320143|2022-09-05 11:23:59|    true|      7|               Liusa|
+--------+----------+-------------------+--------+-------+--------------------+

In [49]:
# 20. `astype`: Changer le type de colonne (équivalent à `cast`)

In [50]:
spark_df.withColumn('dniflote', F.col('dni').astype('float'))

+--------+----------+-------------------+--------+-------+-----------+
|    name|       dni|               date|is_human|row_idx|   dniflote|
+--------+----------+-------------------+--------+-------+-----------+
|   Ricky|4879320143|2022-09-05 11:23:59|    true|      1|4.8793201E9|
|   Simon|4879320143|2022-09-05 11:23:59|    true|      2|4.8793201E9|
|  Sergio|4879320143|2022-09-05 11:23:59|    true|      3|4.8793201E9|
| Pedrito|4879320143|2022-09-07 11:23:59|    true|      4|4.8793201E9|
|jJuenito|4879320143|2022-09-08 11:23:59|    true|      5|4.8793201E9|
|    Pepe|4879320143|2022-09-09 11:23:59|    true|      6|4.8793201E9|
|   Liusa|4879320143|2022-09-05 11:23:59|    true|      7|4.8793201E9|
+--------+----------+-------------------+--------+-------+-----------+

In [51]:
# 21. `isin`: Vérifier si une valeur est dans une liste

In [52]:
spark_df.filter(F.col("name").isin("Pepe"))

+----+----------+-------------------+--------+-------+
|name|       dni|               date|is_human|row_idx|
+----+----------+-------------------+--------+-------+
|Pepe|4879320143|2022-09-09 11:23:59|    true|      6|
+----+----------+-------------------+--------+-------+

In [53]:
# 22. `lower`: Mettre des chaînes en minuscules (déjà utilisé mais réutilisé ici)

In [54]:
spark_df.withColumn("lower_name", F.lower(F.col("name")))

+--------+----------+-------------------+--------+-------+----------+
|    name|       dni|               date|is_human|row_idx|lower_name|
+--------+----------+-------------------+--------+-------+----------+
|   Ricky|4879320143|2022-09-05 11:23:59|    true|      1|     ricky|
|   Simon|4879320143|2022-09-05 11:23:59|    true|      2|     simon|
|  Sergio|4879320143|2022-09-05 11:23:59|    true|      3|    sergio|
| Pedrito|4879320143|2022-09-07 11:23:59|    true|      4|   pedrito|
|jJuenito|4879320143|2022-09-08 11:23:59|    true|      5|  jjuenito|
|    Pepe|4879320143|2022-09-09 11:23:59|    true|      6|      pepe|
|   Liusa|4879320143|2022-09-05 11:23:59|    true|      7|     liusa|
+--------+----------+-------------------+--------+-------+----------+

In [55]:
# 23. `alias`: Utiliser un alias pour une colonne

In [56]:
spark_df.select(F.col("name").alias("NAMEH"))

+--------+
|   NAMEH|
+--------+
|   Ricky|
|   Simon|
|  Sergio|
| Pedrito|
|jJuenito|
|    Pepe|
|   Liusa|
+--------+

In [57]:
# 24. `isNull` et `isNotNull`: Vérifier si une colonne est nulle ou non

In [58]:
spark_df.filter(F.col("name").isNull())

+----+---+----+--------+-------+
|name|dni|date|is_human|row_idx|
+----+---+----+--------+-------+
+----+---+----+--------+-------+

In [59]:
spark_df.filter(F.col("name").isNotNull())

+--------+----------+-------------------+--------+-------+
|    name|       dni|               date|is_human|row_idx|
+--------+----------+-------------------+--------+-------+
|   Ricky|4879320143|2022-09-05 11:23:59|    true|      1|
|   Simon|4879320143|2022-09-05 11:23:59|    true|      2|
|  Sergio|4879320143|2022-09-05 11:23:59|    true|      3|
| Pedrito|4879320143|2022-09-07 11:23:59|    true|      4|
|jJuenito|4879320143|2022-09-08 11:23:59|    true|      5|
|    Pepe|4879320143|2022-09-09 11:23:59|    true|      6|
|   Liusa|4879320143|2022-09-05 11:23:59|    true|      7|
+--------+----------+-------------------+--------+-------+

In [60]:
# 25. `like` et `rlike`: Filtrer les chaînes avec un modèle

In [61]:
spark_df.where("name like '%ito%'")

+--------+----------+-------------------+--------+-------+
|    name|       dni|               date|is_human|row_idx|
+--------+----------+-------------------+--------+-------+
| Pedrito|4879320143|2022-09-07 11:23:59|    true|      4|
|jJuenito|4879320143|2022-09-08 11:23:59|    true|      5|
+--------+----------+-------------------+--------+-------+

In [62]:
spark_df.where("name rlike '(?i)^*ito$'")

+--------+----------+-------------------+--------+-------+
|    name|       dni|               date|is_human|row_idx|
+--------+----------+-------------------+--------+-------+
| Pedrito|4879320143|2022-09-07 11:23:59|    true|      4|
|jJuenito|4879320143|2022-09-08 11:23:59|    true|      5|
+--------+----------+-------------------+--------+-------+

In [63]:
# 26. `regexp_replace`: Remplacer des motifs dans une chaîne avec des expressions régulières

In [64]:
spark_df.withColumn('nameh', F.regexp_replace('name', 'Liusa', 'Pepe'))

+--------+----------+-------------------+--------+-------+--------+
|    name|       dni|               date|is_human|row_idx|   nameh|
+--------+----------+-------------------+--------+-------+--------+
|   Ricky|4879320143|2022-09-05 11:23:59|    true|      1|   Ricky|
|   Simon|4879320143|2022-09-05 11:23:59|    true|      2|   Simon|
|  Sergio|4879320143|2022-09-05 11:23:59|    true|      3|  Sergio|
| Pedrito|4879320143|2022-09-07 11:23:59|    true|      4| Pedrito|
|jJuenito|4879320143|2022-09-08 11:23:59|    true|      5|jJuenito|
|    Pepe|4879320143|2022-09-09 11:23:59|    true|      6|    Pepe|
|   Liusa|4879320143|2022-09-05 11:23:59|    true|      7|    Pepe|
+--------+----------+-------------------+--------+-------+--------+

In [65]:
# 27. `str.contains`: Vérifier si une chaîne contient un motif (équivalent à `like`)

In [66]:
spark_df.filter(spark_df.name.contains('ito'))

+--------+----------+-------------------+--------+-------+
|    name|       dni|               date|is_human|row_idx|
+--------+----------+-------------------+--------+-------+
| Pedrito|4879320143|2022-09-07 11:23:59|    true|      4|
|jJuenito|4879320143|2022-09-08 11:23:59|    true|      5|
+--------+----------+-------------------+--------+-------+

In [67]:
# differences performances entre collect() - show()

In [68]:
start_time = time.time()

print(f"Execution time: {time.time() - start_time}")

spark_df.collect()

Execution time: 9.1552734375e-05

[Row(name=' Ricky', dni=4879320143, date='2022-09-05 11:23:59', is_human=True, row_idx=1),
 Row(name='Simon', dni=4879320143, date='2022-09-05 11:23:59', is_human=True, row_idx=2),
 Row(name='Sergio', dni=4879320143, date='2022-09-05 11:23:59', is_human=True, row_idx=3),
 Row(name='Pedrito', dni=4879320143, date='2022-09-07 11:23:59', is_human=True, row_idx=4),
 Row(name='jJuenito', dni=4879320143, date='2022-09-08 11:23:59', is_human=True, row_idx=5),
 Row(name='Pepe', dni=4879320143, date='2022-09-09 11:23:59', is_human=True, row_idx=6),
 Row(name='Liusa', dni=4879320143, date='2022-09-05 11:23:59', is_human=True, row_idx=7)]

In [69]:
start_time = time.time()

print(f"Execution time: {time.time() - start_time}")

spark_df.show()

Execution time: 5.054473876953125e-05
+--------+----------+-------------------+--------+-------+
|    name|       dni|               date|is_human|row_idx|
+--------+----------+-------------------+--------+-------+
|   Ricky|4879320143|2022-09-05 11:23:59|    true|      1|
|   Simon|4879320143|2022-09-05 11:23:59|    true|      2|
|  Sergio|4879320143|2022-09-05 11:23:59|    true|      3|
| Pedrito|4879320143|2022-09-07 11:23:59|    true|      4|
|jJuenito|4879320143|2022-09-08 11:23:59|    true|      5|
|    Pepe|4879320143|2022-09-09 11:23:59|    true|      6|
|   Liusa|4879320143|2022-09-05 11:23:59|    true|      7|
+--------+----------+-------------------+--------+-------+

In [70]:
# differences performances entre RDD - count()

In [71]:
start_time = time.time()

print(f"Execution time: {time.time() - start_time}")

spark_df.count()

Execution time: 6.842613220214844e-05

7

In [72]:
start_time = time.time()

print(f"Execution time: {time.time() - start_time}")

spark_df.rdd.count()

Execution time: 7.891654968261719e-05

7

In [73]:
# why not rdd
# cuz its low-level and do not provide an optimized execution plan for many data processing tasks.
# pas optimizé koa

# why not collect()
# it brings all data to the driver node, potentially causing memory issues
# sa l'emmene a la racine de pyspark en gros tavu

In [74]:
# un RDD est un Resilient Distributed Datasets qui a été crée par de la paralélisation (processus qui se lance sur plusieurs noeud du CPU je pense)
# et est immuable